header {
	margin: 30px 0 20px 0;
}

h1 {
	color: #2d3c49;
	font: 3.8em "Josefin Sans", sans-serif;
	font-weight: 300;
	margin-top: 0;
}

h2 {
	color: #7d97ad;
	font: 2.7em "Roboto", sans-serif;
	margin-left: 10px;
}

h3 {
	color: #2d3c49;
	font: 2.7em "Roboto", sans-serif;
	margin-top: 10px;
}

h4 {
	color: #2d3c49;
	font: 1.5em "Josefin Sans", sans-serif;
	font-weight: bold;
	margin-top: -5px;
}

p {
	height: 35px;
}

p a {
	color: #2d3c49;
	font: 1em "Roboto", sans-serif;
}

main {
	margin-top: 40px;
}

.cover_container {
	margin-bottom: 30px;
}

hr {
	border-top: 1px solid #aaaaaa;
	border-bottom: 5px solid #7d97ad;
	color: #7d97ad;
}

.projects_container article {
	margin-bottom: 40px;
}

/* Design for mobile view */
@media screen and (max-width: 767px) {
	header {
		display: flex;
		flex-wrap: wrap;
	}

	h1 {
		font-size: 3em;
		margin-top: 15px;
	}

	h4 {
		max-width: 240px;
		margin-top: 15px;
	}

	.logo-container {
		order: 0;
	}

	.occupation-container {
		order: 1;
	}

	.name-container {
		order: 2;
	}
}